::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: none !important;
    background-color: transparent;
  }
  
  
  ::-webkit-scrollbar-thumb {
   
    background-color: black; 
  }